*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #000000;
}
#container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 20px;
    z-index: 1;
    position: relative;
    top: 0;
}
.logo{
    color: #fff;
    position: absolute;
    left: 10px;
    font-family: cursive;
    font-size: 1.5em;
   letter-spacing: 7px;
}
.menulist{
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 10px;
    

}
.navlist{
    list-style: none;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    align-items:  center;
  
}
.link{
    text-decoration: none;
    color: #fff;
    font-family: fantasy;
    font-weight: 3em;
    font-size: 1em;
   letter-spacing: 2px;
  text-align: center;
  justify-content: center;

}
.button{
    list-style: none;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    align-items:  center;
    transition: 0.5s;
  
}
.login{
    text-decoration: none;
    color: #fff;
    font-family: fantasy;
    font-weight: 3em;
    font-size: 1em;
   letter-spacing: 2px;
  text-align: center;
  justify-content: center;
  
  
  
}
.login:hover{
   background: rgb(90, 88, 88);
    border: solid #fff 1px;
border-radius: 5px;
padding: 5px;
transition: .03s ease;

}
fieldset{
    position: absolute;
   top: 30%;
    left:35%;
    width: 30%;
    height: auto;
    border-radius: 10px;
    border:3px  black;
    opacity: 1;
    padding: 20px;
    margin: 0px;
    align-items: center;
    background-color: rgba(7, 6, 6, .7);
    line-height: 20px;
    letter-spacing: 2px;
    transition: 0.5s;
    
    
}
fieldset:hover{
    background-color: #000;
    transition: 0.5s ease;
    
    
}
legend{
    border-bottom: green solid 3px;
align-items: center;
    font-size: 2em;
    color:rgb(248, 164, 7);
    font-weight: bolder;
    font-family: fantasy;
    text-transform: uppercase;
    opacity: 1;
}
.registration{
background: url(background.jpg) no-repeat center fixed;
opacity: .7;
-webkit-border-size:cover ;
-moz-border-size:cover ;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #fff;
align-items: center;

width: 100%;
height: 800px;
padding: 0;
margin: 0;


}
label{
    font-size: bolder;
    font-family: fantasy;
color: orange;
margin: 0;
padding-bottom: 8px;
}
input{
   border-bottom: green solid  2px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    background:none;
    
    cursor: pointer;
    text-transform: uppercase;
    width: 50%;
    color: #fff;


}

.sigin{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 10%;
  position: absolute;
  font-size: 1.5em;
  padding: 3px;
  border: solid 5px white;
  margin-left: 100px;
  border-radius: 3px;
}
.signup{
    text-decoration-style: solid;
    padding: 10px;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 20%;
    color: #fff;

}
.sigin:hover{
background-color: black;
color: #fff;
cursor: pointer;
}
.signup:hover{
    
    color: rgb(11, 248, 11);
    cursor: pointer;
    }

#errorbox input{
    color: rgb(119, 16, 16);
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}